/* Reset some default styles */
body,
h1,
h2 {
  margin-top: 1.5rem; /* 타이틀 위의 간격 */
  margin-bottom: 1rem; /* 타이틀 아래의 간격 */
}
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

form {
  margin: 0 auto;
  max-width: 500px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical; /* 수직 방향으로만 크기 조절 가능 */
}

/* Header Styles */
header {
  background-color: #004080; /* Dark blue */
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-container {
  display: flex;
  align-items: center;
}

header .logo-container img {
  max-height: 50px;
  margin-right: 10px;
}

header .business-name .bs-1 {
  font-size: 30px;
  line-height: 30px;
}
header .business-name .bs-2 {
  font-size: 15px;
  line-height: 15px;
  font-weight: normal;
}

/* Hamburger Button */
.hamburger {
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

/* Nav styles */
nav {
  display: flex; /* 가로 정렬 */
  flex-direction: column; /* 세로 정렬 */
}

nav .nav-links {
  display: flex; /* 기본적으로 가로 정렬 */
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav .nav-links {
  display: flex;
}

/* Main Section Styles */
main {
  padding: 20px;
}

/* Hero Section */
.hero {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #0151c1;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Content Section */
.contents {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.content {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.menu {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.menu button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #0151c1;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu button:hover {
  background-color: #0056b3;
}

/* CTA Section Styles */
.cta-container {
  text-align: center;
  margin: 20px 0;
}

.cta-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.cta-description {
  margin-bottom: 15px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #11541b;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #1f8a32;
}
.cta-button:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* Current Events */
.events-title {
  font-size: 28px;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

.event-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  transition: box-shadow 0.3s;
}

.event-item:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.event-title {
  font-size: 22px;
  color: #333;
  margin-bottom: 5px;
}

.event-date {
  font-size: 14px;
  color: #004080;
  margin-bottom: 10px;
}

.event-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.event-link {
  text-decoration: none;
  color: #004080;
  font-weight: bold;
  transition: color 0.3s;
}

.event-link:hover {
  color: #0056b3;
}

/* Sppotlight Section */
.spotlight-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
}

/* 개별 카드 스타일 */
.spotlight-member {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* 카드에 호버 효과 */
.spotlight-member:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 이미지 스타일 */
.spotlight-member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

/* 이름 스타일 */
.spotlight-member h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* 역할 또는 설명 스타일 */
.spotlight-member p {
  font-size: 1rem;
  color: #666;
}

/* Spotlight Members Cards & Business Cards */
.spotlight-members-cards,
.business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.spotlight-card,
.business-card {
  flex: 1 1 calc(30% - 20px);
  margin: 10px;
  padding: 15px;
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.spotlight-card img,
.business-card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  object-fit: cover;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.list-view {
  flex-direction: column;
}

.list-view .business-card {
  flex: 1 1 auto;
}

/* Join Page */
.membership-cards {
  display: flex;
  max-width: 500px;
  margin: 20px auto;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.membership-cards .card {
  flex: 1 1 calc(25% - 20px);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.card button {
  padding: 10px 20px;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.card button:hover {
  background-color: #0059b3;
}

.membership-cards .card.visible {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Discover Page */
.gallery img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  background-color: #f4f4f4;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.sidebar section {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.sidebar h3 {
  margin-top: 0;
  font-size: 1.2em;
  color: #333;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li {
  padding: 5px 0;
  font-size: 0.9em;
  color: #555;
}

.discover-container {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 사이드바는 1fr, 갤러리 섹션은 3fr */
  gap: 20px;
  padding: 20px;
}

.visitor-message {
  background-color: #e0f7fa;
  color: #00796b;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}

/* 갤러리 섹션 스타일 */
.gallery {
  display: flex;
  flex-direction: column;
}

.gallery h2 {
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr; /* 3개의 이미지가 가로로 배치됨 */
  gap: 10px;
}

.image-grid figure {
  position: relative;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.image-grid figcaption {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 8px;
}

.image-grid img:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Space out items */
  align-items: flex-start; /* Align items to the top */
  padding: 20px;
  background-color: #004080; /* Light background color */
  border-top: 1px solid #ccc; /* Top border for separation */
  color: #fff;
}

.business-info,
.social-media,
.developer-info {
  flex: 1; /* Each div takes equal space */
  margin: 0 10px; /* Horizontal spacing between divs */
}

.social-media {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 10px; /* 아이콘과 텍스트 사이 간격 */
}

.social-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media a {
  color: white; /* White text for social icons */
  margin: 0 10px; /* Spacing between icons */
  text-decoration: none; /* No underline */
}

.social-media a:hover {
  opacity: 0.7; /* Slightly dim icon on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger {
    display: block; /* 모바일에서는 햄버거 버튼 보이기 */
  }

  /* 햄버거 클릭 시 보여짐 */
  nav.active .nav-links {
    display: flex; /* 햄버거 클릭 시 가로로 메뉴 표시 */
    flex-direction: column; /* 세로 정렬 */
    background-color: #004080; /* 배경색 추가 (헤더와 동일하게) */
    padding: 10px 20px; /* 메뉴 사이의 여백 */
    position: absolute; /* 메뉴를 헤더 아래에 위치시키기 */
    top: 60px; /* 헤더 높이 만큼 떨어뜨리기 */
    left: 0;
    width: 100%; /* 전체 너비 차지 */
  }

  nav .nav-links {
    display: none;
    z-index: 999 !important;
  }
  nav a {
    transition: color 0.3s ease;
  }
  nav a:hover {
    color: #ffd700;
  }

  .hero {
    height: 200px;
  }

  .contents {
    flex-direction: column;
  }

  .content,
  .business-card {
    margin: 10px 0; /* Stack on mobile */
  }
  .business-card {
    flex: 1 1 100%; /* Full width for mobile */
  }

  .membership-cards .card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row */
  }

  footer {
    flex-direction: column; /* Stack items vertically on mobile */
    align-items: flex-start; /* Align items to the start */
  }

  .business-info,
  .social-media,
  .developer-info {
    margin: 10px;
  }

  .discover-container {
    grid-template-columns: 1fr; /* 사이드바와 갤러리 모두 단일 열 */
  }

  .image-grid {
    grid-template-columns: 1fr; /* 이미지도 한 줄에 한 개씩 표시 */
  }
  .image-grid img:hover {
    transform: none;
  }
}
