*,
::after,
::before,
body {
  margin: 0;
  padding: 0;
}
footer,
header {
  background-color: #333;
}
img {
  width: 100%;
  height: auto;
}
nav a.active,
nav a:hover {
  color: #fcc500;
}
.card h2,
.category,
footer,
header h1 {
  text-align: center;
}
body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
a,
li,
ul {
  text-decoration: none;
  color: #333;
}
.category,
footer,
header,
nav a {
  color: #fff;
}
li {
  padding: 8px 0;
}
main {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.about-img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card,
nav {
  display: flex;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  border: 1px solid #ccc;
}
.card-cont {
  padding: 40px;
  min-height: 200px;
}
.card h2 {
  background-color: #fcc500;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.card-cont {
  min-height: 100px;
}
.content1,
.content2,
.content3 {
  min-height: 300px;
}
.content3 {
  width: 100%;
  box-sizing: border-box;
  grid-column: span 2;
}
.content3 img {
  width: 100%;
  height: auto;
}
footer {
  padding: 10px 0;
}
nav {
  gap: 150px;
  justify-content: center;
  flex-grow: 1;
  margin-top: 10px;
}
nav a.active {
  font-weight: 700;
}
.hamburger {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  font-size: 24px;
}
.course-card {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.course-card:hover {
  background-color: #eaeaea;
}
.course-card h3,
.course-card p {
  color: #333;
}
.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.category {
  background-color: #000;
  border: none;
  border-radius: 20px;
  padding: 10px 80px;
  cursor: pointer;
  flex: 1;
}
.classes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 768px) {
  .classes,
  main {
    grid-template-columns: 1fr;
  }
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 182px;
    background: #fff;
    width: 100%;
  }
  nav a {
    color: #333;
    padding-left: 20px;
  }
  .hamburger {
    display: block;
  }
  nav.active {
    display: flex;
  }
}
